:root {
    --main-color: #120149;
    --secondary-color: #33ca83;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    font-family: "open sans", sans-serif;
    background-color: #1c1b1b;
    position: relative;
    z-index: -100;
}

.container {
    width: 1000px;
    padding: 0px 20px;
    margin: 0px auto;
}

a {
    text-decoration: none;
    color: var(--main-color);
    outline: none;
}

/* Header */
header {
    user-select: none;
    background-color: white;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    width: 280px;
}

header .logo img {
    width: 100%;
    height: 100%;
}

header nav {
    width: 60%;
    height: 100%;
    transition: 0.3s;
    transition-property: top, opacity;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    height: 100%;
}

header nav ul li {
    font-size: 1.3rem;
    height: 25px;
    font-weight: 600;
}


header nav ul li::after {
    content: "";
    margin-top: 5px;
    display: block;
    width: 0;
    height: 2px;
    background-color: var(--main-color);
    transition: width 0.3s;
}

header nav ul li:hover::after {
    width: 110%;
}

header nav a {
    display: block;
    height: 100%;
    width: 100%;
}

header .listIcon {
    transition: 0.3s;
}

header .listIcon svg {
    color: var(--main-color);
    font-size: 35px;
    cursor: pointer;
    transition: 0.3s;
}

header .activeListIcon svg {
    transform: rotate(90deg);
    color: var(--secondary-color);
}

header .activeList {
    top: 100px;
    opacity: 1;
}

/* Header */

/* Welcome section */

.welcome_section {
    background-image: url(./assets/images/7103073.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    width: 100%;
    position: relative;
    z-index: -10;
}

.welcome_section .container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    height: 100%;
    gap: 40px;
}

.welcome_section h1,
.welcome_section p {
    font-family: impact, sans-serif;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.welcome_section h1 {
    text-align: center;
    font-size: 3.5rem;
    /* display: inline-block;
    border-right: 5px solid white;
    letter-spacing: 5px;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 10s steps(20), cursor 0.4s step-end infinite alternate; */
}

.welcome_section p {
    font-size: 2rem;
    text-align: center;
}

/* Welcome section */

/* Services section */

.servives {
    width: 100%;
}

.servives .serv {
    width: 100%;
    height: 130vh;
    max-height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servives .serv .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servives .serv .container h2 {
    width: 50%;
    font-size: 2.3rem;
    color: #000;
    text-align: center;
    transform: translate(-55px, -80px);
    opacity: 0;
    transition: 1s;
}

.servives .serv img {
    height: 400px;
    transform: translate(-55px, -80px);
    opacity: 0;
    transition: 1s;
}

.servives .serv:nth-child(1) {
    background-color: #9fffb8;
}

.servives .serv:nth-child(2) {
    background-color: #fdfef8;
}

.servives .serv:nth-child(2) .container {
    flex-direction: row-reverse;
}

.servives .serv:nth-child(2) .container h2 {
    transform: translate(30px, -80px);
    opacity: 0;
    transition: 1s;
}

.servives .serv:nth-child(2) .container img {
    transform: translate(30px, -80px);
    opacity: 0;
    transition: 1s;
}

.servives .serv:nth-child(3) {
    background-color: #66feff;
}

.servives .serv:nth-child(3) .container h2 {
    transform: translate(0px, -100px);
    opacity: 0;
    transition: 1s;
}

.servives .serv:nth-child(3) .container img {
    transform: translate(0px, -100px);
    opacity: 0;
    transition: 1s;
}

/* Services section */

/* Small Mobiles */

@media (max-width: 600px) {
    .container {
        width: 100%;
    }

    /* Header */
    header {
        position: relative;
    }

    header nav {
        position: absolute;
        top: -640px;
        left: 0;
        width: 100%;
        height: 713px;
        background-color: #f8f8f8;
        z-index: -1;
        opacity: 0;
    }

    header .logo {
        width: 220px;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center;
        padding: 0px 15px;
        height: 350px;
    }

    header nav ul li {
        width: 100%;
        height: 40px;
        transition: transform 0.3s;
    }

    header nav ul li:hover {
        transform: translate(5px, -5px);
    }

    header nav ul li:hover::after {
        width: 100%;
    }

    header nav a {
        display: inline-block;
        width: 100%;
    }

    header .listIcon svg {
        font-size: 30px;
    }

    /* Header */
    /* Welcome section */
    .welcome_section h1 {
        font-size: 2.3rem;
    }

    .welcome_section p {
        font-size: 1.5rem;
    }

    /* Welcome section */

    /* Services section */
    .servives .serv .container {
        flex-direction: column-reverse;
        height: 400px;
    }

    .servives .serv .container h2 {
        width: 100%;
        font-size: 26px;
    }

    .servives .serv img {
        height: 300px;
    }

    .servives .serv:nth-child(2) .container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    /* Services section */
}

/* Mobiles */

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        width: 100%;
    }

    /* Header */
    header {
        position: relative;
    }

    header nav {
        position: absolute;
        top: -640px;
        left: 0;
        width: 100%;
        height: 713px;
        background-color: #f8f8f8;
        z-index: -1;
        opacity: 0;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center;
        height: 350px;
        padding: 0px 15px;
    }

    header nav ul li {
        width: 100%;
        height: 40px;
        transition: transform 0.3s;
    }

    header nav ul li:hover {
        transform: translate(5px, -5px);
    }

    header nav ul li:hover::after {
        width: 100%;
    }

    header nav a {
        display: inline-block;
        width: 100%;
    }

    /* Header */

    /* Welcome section */
    .welcome_section h1 {
        font-size: 2.5rem;
        min-width: 100%;
    }

    .welcome_section p {
        font-size: 1.5rem;
    }

    /* Welcome section */

    /* Services section */
    .servives .serv .container {
        flex-direction: column-reverse;
    }

    .servives .serv .container h2 {
        width: 100%;
        font-size: 30px;
    }

    .servives .serv:nth-child(2) .container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    /* Services section */
}

/* Tablets */

@media (min-width: 768px) and (max-width: 992px) {
    .container {
        width: 100%;
    }

    /* Header */
    header {
        position: relative;
    }

    header .container {
        padding: 0px 40px;
    }

    header nav {
        position: absolute;
        top: -640px;
        left: 0;
        width: 100%;
        height: 713px;
        background-color: #f8f8f8;
        z-index: -1;
        opacity: 0;
    }

    header nav ul {
        flex-direction: column;
        justify-content: center;
        height: 350px;
        padding: 0px 15px;
    }

    header nav ul li {
        width: 100%;
        height: 40px;
        transition: transform 0.3s;
    }

    header nav ul li:hover {
        transform: translate(5px, -5px);
    }

    header nav ul li:hover::after {
        width: 100%;
    }

    header nav a {
        display: inline-block;
        width: 100%;
    }

    /* Header */

    /* Services section */
    .servives .serv .container {
        flex-direction: column-reverse;
    }

    .servives .serv .container h2 {
        width: 100%;
        font-size: 30px;
    }

    .servives .serv:nth-child(2) .container {
        flex-direction: column-reverse;
        gap: 30px;
    }

    /* Services section */
}


/* Mediuam */

@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 970px;
    }

    header svg {
        display: none !important
    }
}

/* Larg */

@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }

    header svg {
        display: none !important
    }
}